@model Product
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@*<span>Id: </span><span>@Model.id</span><br />
<span>Description: </span><span>@Model.description</span><br />
<span>Price: </span><span>@Model.price</span><br />*@

<partial name="Partials/_ProductCardPartial" model="@Model" />
