@model ProductsManagement.Controllers.TestVM

@{
  ViewData["Title"] = "Test";
}

<h2>Test</h2>


@*<form action="/Cart/Test" method="post">
  <label>Give text</label>
  <input type="text" name="send" />
  <input type="submit" value="text" />
</form>*@




<form asp-controller="Cart" asp-action="Test" method="post">
  <label>Give text</label>
  <input type="text" name="[0].text" />
  <input type="checkbox" name="[0].check" value="bike" />i have a bike
  <input type="text" name="[1].text" />
  <input type="checkbox" name="[1].check" value="bike" />i have a bike
  <input type="submit" value="send" />
</form>




@*<form asp-controller="Cart" asp-action="Test" method="post">
  <label>Give text</label>
  <input type="text" asp-for="@Model.text" />
  <input type="checkbox" asp-for="@Model.check" value="bike" />i have a bike

  <input type="submit" value="send" />
</form>*@